<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Daily Weather Snap</h1>
        <p>Know your city's weather instantly!</p>
        <input type="text" id="cityInput" placeholder="Enter city name">
        <button id="getWeather">Get Weather</button>
        <div id="weatherResult"></div>
        <footer>
            <p>Powered by OpenWeather • Designed with 💙 • Created by Kagiso Setshwane </p>
        </footer>
    </div>
    
    <script src="/js/script.js"></script>
</body>
</html>
